body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #555;
}
.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

figure {
    margin: 0;
}

figcaption {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

button{
    width:75px;
    height: 45px;
    border-radius: 25px;
}

button a{
    color:white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
@keyframes headerAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}
/* For the paragraph or multimedia transition */
.transition-example {
    transition: background-color 0.5s ease-in-out;
}

.transition-example:hover {
    background-color: #ddd;
}

/* For multimedia transition example */
.multimedia-example {
    transition: transform 0.5s ease-in-out;
}

.multimedia-example:hover {
    transform: scale(1.1);
}
